body{
    position:relative;
    height:100vh;
    width:100vw;
}


#display_area{
    width:300px;
    height:100px;
    background-color:#cccccc;
    color:blue;
    font-size:50px;
    font-weight:bold;
    border:5px solid darkorange;
    text-align:center;
}

.number_container{
    background-color:silver;
    border:5px solid darkorange;
    width:300px;
}

.operator_container{
    background-color:silver;
    border:5px solid darkorange;
    width:300px;
}

.equals_container{
    background-color:silver;
    border:5px solid darkorange;
    width:300px;
}

.clear_container{
    background-color:silver;
    border:5px solid darkorange;
    width:300px;
}