body{
    position:relative;
    height:100vh;
    width:100vw;
}
span{
    color:black;
    width:50%;
    line-height:500%;

}

#blue{
    background-color:blue;
    line-height:500%;
    border:2px solid grey;

}

#spacing{
    margin-left:5px;
}

.danger{
    float:right;
    position:relative;
    right:0;
}

.moveleft{
    color:yellow;
}

.btn-default{
    margin:0 3px 0 3px;
}

.width{
    margin:5px 10px 0 5px;
    position:relative;
    left:50%;

}

